.button {
	background-color: #4CAFFF;
	border: none;
	color: white;
	width:50%;
	padding: 15px 0px;
	text-align: center;
	font-size: 30px;

	outline-style:none;
	border:1px solid black;

	position:fixed;
	bottom : 10%;
	left : 25%;

	/* 
	Prevent double-tapping on button from zooming page on mobile
	https://developer.mozilla.org/en-US/docs/Web/CSS/touch-action
	*/
	touch-action: manipulation; 
}

.button:hover {
  background-color: #55CCFF;
}
.button:active {
  background-color: #AAAAFF;
}