 @font-face { font-family: opensans; src: url('Resources/OpenSans-Regular.ttf');}

body {
	background-color: #222222;
}

p {
	display: inline-block; /*Allow the save icon to appear next to the text, even when it's multiple lines long*/
}

.social {
	touch-action: manipulation;
	/* Disable text selection: https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Chrome, Opera and Firefox */
}

.prompt {
	font-family: opensans;
	color: white;
	/*text-align: center;*/
	font-size:25px;

	position: fixed;
	width: 90%;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	/*outline: 2px solid #555555;*/

	display: flex; /* Flex display allows two blocks in the same row, while still being responsive. */
	align-items: center; /* Vertically center items */
	justify-content: center; /* Hotizontally center items (replaces text-align: center)*/
	flex-flow: row wrap; /* Items should be next to, not below one another */
}

.buttons {
	margin: 10px;
}

.ib {
	position: relative;
	height: 25px !important; /* Using !important to force the height and width attributes*/
	width: 25px !important;
	display: inline-block;
	cursor: pointer;
	transition-duration: 300ms;
}

.ib:hover {
	opacity: 0.5;
}

.ib img {
	height: 25px;
	width: 25px;
	transition-duration: 300ms; /* Length of the animation */
	/* Position both images on top of each other */
	position: absolute;
	top: 0;
	left: 0;
	opacity: 1;
}

.icon-save img.solid {
	opacity: 0;
}

.icon-save.saved img {
	opacity: 0;
}

.icon-save.saved img.solid {
	opacity: 1;
}

.button {
	background-color: #4CAFFF;
	
	font-family: opensans;
	text-align: center;
	font-size: 25px;
	padding: 10px 0px;
	color: white;

	outline-style:none;
	border:none;
	cursor:pointer;

	position:fixed;
	width:50%;
	bottom : 10%;
	left : 25%;

	/* Disable text selection: https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Chrome, Opera and Firefox */

	/* 
	Prevent double-tapping on button from zooming page on mobile
	https://developer.mozilla.org/en-US/docs/Web/CSS/touch-action
	*/
	touch-action: manipulation; 
}

.button:hover {
  background-color: #5dc2f5;
}
.button:active {
  background-color: #5591ff;
}

.legal {
	color: #fff;
	font-family: opensans;
	font-size: 10px;
}

.legal a {
	color: #fff;
}